@model IEnumerable<IMS_Project.Models.Order>

@{
    ViewBag.Title = "Order";
    
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayName("Mã KH")
        </th>
        <th>
            @Html.DisplayName("Phương thức TT")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingDetail.ShippingID)
        </th>
        <th>
            @Html.DisplayName("Khuyến mãi")
        </th>
        <th>
            @Html.DisplayName("Thuế")
        </th>
        <th>
            @Html.DisplayName("Tổng")
        </th>
        <th>
            @Html.DisplayName("Ngày đặt")
        </th>        
              
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment.PaymentType.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingDetail.ShippingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>             
      
        <td>          
            @Html.ActionLink("View Details", "Details", new { id=item.OrderID })
         
        </td>
    </tr>
}

</table>
